/* Default Styles */
:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "inter", serif;
  max-width: 1024px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  color: #677788;
  text-decoration: none;
  font-size: 14px;
}
/* ... */

/* Header Styles */
.topsection {
  background-image: url("../assets/bg/background-top.svg");
  background-repeat: no-repeat;
  background-position-y: -1px;
}

header {
  display: flex;
  background-color: #f6f8fa;
  height: 86px;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 10px 30px 10px 30px;
}

.header_logo {
  width: 154.9px;
  height: 46.1px;
  gap: 10px;
}

.header_nav {
  display: flex;
  margin-left: auto;
  gap: 30px;
  padding: 6px 14px 6px 14px;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.buy {
  padding: 15px 25px 15px 25px;
  color: white;
  font-size: 12px;
  background-color: #2476ff;
  border: none;
  border-radius: 30px;
}
/* ... */

.heroSection {
  display: flex;
  padding: 40px 30px 0px 30px;
  height: 446px;
}

/* Left Hero Styles */
.leftHero {
  display: flex;
  flex-direction: column;
  max-height: 406px;
  gap: 30px;
  padding-bottom: 60px;
}

.leftHeroTitle {
  width: 334px;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

.leftHeroTitle p {
  font-size: 14px;
  font-weight: 500;
  color: #677788;
}

.heroActions {
  display: flex;
  gap: 24px;
  width: 482px;
  align-items: center;
}

.play-video {
  display: flex;
  border: 0;
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  background-color: #2476ff;
  color: white;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
}

.heroActions a {
  font-size: 14px;
  font-weight: 700;
}

.rightHero {
  position: relative;
  width: 482px;
}
/* ... */

/* Right Hero Image Styles */
.rightHero div {
  display: flex;
  position: absolute;
  border-radius: 40px;
  background-color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 13px 0px #000000;
}

.size1 {
  width: 80px;
  height: 80px;
}

.size2 {
  width: 60px;
  height: 60px;
}

.size1Img {
  width: 48px;
  height: 48px;
}

.size2Img {
  width: 40px;
  height: 40px;
}

#asana-container {
  left: 380px;
  top: 10px;
}

#atlassian-container {
  left: 175px;
  top: 10px;
}

#calendar-container {
  left: 364px;
  top: 310px;
}

#google-ads-container {
  left: 155px;
  top: 290px;
}

#google-container {
  left: 64px;
  top: 10px;
}

#paypal-container {
  left: 44px;
  top: 172px;
}

#weave-container {
  left: 262px;
  top: 172px;
}
/* ... */

/* Why Front Sect */
.whyFrontSect {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 30px 80px 30px;
}

.whyFrontTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  gap: 10px;
  width: 600px;
  height: 89px;
}

.whyFrontTitle h2 {
  margin: auto;
  font-size: 26px;
}

.whyFrontTitle p {
  margin: 0;
  font-size: 16px;
}

.bulletList {
  display: flex;
  gap: 34px;
  margin: auto;
}

.bullet {
  text-align: center;
  gap: 24px;
}

/* ... */
